
       
body {
            font-family: Arial, sans-serif;
            background-color: #A1726A;
        }
header {
            background-color: #AE9480;
            color: black;
            text-align: center;
            padding: 20px;
        }
main {
            max-width: 800px;
            margin: 20px auto;
            background-color: #C1AAA5;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
.receive-flower{
            background-color: #765B53;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            display: block;
            margin: 0 auto;
        }
.sobre{

    border: none;
    background: transparent;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

    animation: parpadeo 1s infinite;
}
.sobre img{
    border-radius: 12px;
}
#mensaje {
    font-size: 18px;
    color: #333333;
    margin-top: 20px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
 
}
#flower-image {
    animation: auraGlow 3s ease-in-out infinite alternate;
    border-radius: 8px;
}
p{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
/* Animación del brillo */
@keyframes auraGlow {
  0% {
    filter: drop-shadow(0 0 5px #3700ff)
            drop-shadow(0 0 10px #ff00cc);
  }
  50% {
    filter: drop-shadow(0 0 15px #ff3c00)
            drop-shadow(0 0 25px #00ffff);
  }
  100% {
    filter: drop-shadow(0 0 10px #15ff00)
            drop-shadow(0 0 20px #ffcc00);
  }
}
@keyframes parpadeo {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.carta {
  max-width: 400px;
  margin: 40px auto;
  padding: 5px;
  
  background: #f5e6c8; /* color papel */
  color: #3e2f1c;
  
  border-radius: 1px;
  
  /* textura suave */
  background-image: 
    linear-gradient(0deg, rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 4px 4px;
  
  /* sombra tipo hoja */
  box-shadow: 
    0 4px 10px rgba(0,0,0,0.2),
    inset 0 0 10px rgba(0,0,0,0.1);
  
 opacity: 0;
  
  font-family: "Georgia", serif;
}

.carta.mostrar {
  opacity: 1;
}

.firma {
  margin-top: 10px;
  text-align: right;
  font-style: italic;
  font-family: "Brush Script MT", cursive;
  font-size: 1.2em;
  color: #5a4632;
}